
<div class="Center">
    <h1>Home</h1>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (change)="change()">
  <label class="form-check-label" for="flexSwitchCheckDefault">{{medewerker}}</label>
</div>
<div *ngIf="medewerker == 'Medewerker'"class="form-group">
  <h3>Welkom {{medewerker}}</h3>
  <wbr>
  <wbr>
  <button type="button" class="btn btn-primary btn-sm" routerLink="/controleLoggen" >Scan een barcode om een controle te loggen</button>
</div>

<div *ngIf="medewerker == 'Apotheker'"class="form-group">
  <h3>Welkom {{medewerker}}</h3>
  <wbr>
  <wbr>
  <button type="button" class="btn btn-primary btn-sm" routerLink="/orderOverview" >Openstaande Opdrachten</button>
  <button type="button" class="btn btn-primary btn-sm" routerLink="/vrijgifte" >Vrijgifte</button>
  <button type="button" class="btn btn-primary btn-sm" routerLink="/orderOverview" >Opdrachten geschiedenis</button>
</div>