<div class="Center">
    <h1>Controle loggen</h1>
</div>
<div class="form-group">
  <h3>MediRol 24-03-50</h3>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Kies een controle
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" >Line clearance</a></li>
      <li><a class="dropdown-item" >Opstartcontrole</a></li>
      <li><a class="dropdown-item" >Labelcontrole</a></li>
      <li><a class="dropdown-item" >Perforatiecontrole</a></li>
      <li><a class="dropdown-item" >Sealcontrole</a></li>
      <li><a class="dropdown-item" >Scheurcontrole</a></li>
    </ul>
  </div>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
  <wbr>
  <button type="button" class="btn btn-primary btn-sm" (click)="back()" >Controle loggen</button>
</div>