<section class="py-5 text-center container">
  <div class="row py-lg-5 justify-content-center">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Controle loggen ({{abstractieLevel}})</h1>
        <br>
        <select class="form-select" aria-label="typeControle" #t (change)="change(t.value)" required >
          <option value="" disabled selected>Kies een abstractielevel</option>
          <option value="Opdracht">Opdracht</option>
          <option value="Batch">Batch</option>
          <option value="MediRol">MediRol</option>
        </select>
        <br>
        <select class="form-select" #control (change)="changeControl(control.value)" aria-label="controle" required>
          <option disabled selected>Kies een controle</option>
          <option value="Line clearance">Line clearance</option>
          <option value="Opstartcontrole">Opstartcontrole</option>
          <option value="Labelcontrole">Labelcontrole</option>
          <option value="Perforatiecontrole">Perforatiecontrole</option>
          <option value="Sealcontrole">Sealcontrole</option>
          <option value="Scheurcontrole">Scheurcontrole</option>
        </select>
        <br>
        <textarea class="form-control" id="form-control" rows="8"></textarea>
        <br>
        <button type="button" class="btn btn-primary btn-sm" (click)="back()" >{{controle}} loggen</button>
    </div>
  </div>
</section>