<section class="py-5 text-center container">
    <div class="row py-lg-5 justify-content-center">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1>Opdracht gegevens</h1>

            <div *ngIf="order" class="list-group">
            <h3>Opdracht {{order.orderId}}</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Controle</th>
                        <th scope= "col">succesvol uitgevoerd</th>
                        <th scope="col">Toelichting</th>
                        <th scope="col">Medewerker</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Controle1</td>
                        <td *ngIf="order.controle1"><img src="assets/done_outline-24px.svg"></td>
                        <td *ngIf="!order.controle1"><img src="assets/clear-24px.svg"></td>
                        <td>{{order.controle1Desc}}</td>
                        <td>Joop Jansen</td>
                    </tr>
                    <tr>
                        <td>Controle2</td>
                        <td *ngIf="order.controle2"><img src="assets/done_outline-24px.svg"></td>
                        <td *ngIf="!order.controle2"><img src="assets/clear-24px.svg"></td>
                        <td>{{order.controle2Desc}}</td>
                        <td>Jan de Boer</td>
                    </tr>
                    <tr>
                        <td>Controle3</td>
                        <td *ngIf="order.controle3"><img src="assets/done_outline-24px.svg"></td>
                        <td *ngIf="!order.controle3"><img src="assets/clear-24px.svg"></td>
                        <td>{{order.controle3Desc}}</td>
                        <td>Fred de Jong</td>
                    </tr>
                </tbody>
                </table>

                <h4>Aanwezige batches</h4>
            </div>
            <div *ngFor="let batch of batches; index as batchId" class="list-group">
                <a [routerLink]="['/rolOverview/', batch.batchId]" class="list-group-item list-group-item-action">Batch {{batch.batchId}}</a>
            </div>
            <br>
            <button type="button" class="btn btn-primary btn-sm" (click)="back()" >Terug naar de opdrachtoverzicht</button>
        </div>
    </div>
</section>