<section class="py-5 container">
  <div class="row py-lg-5 justify-content-center">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1>Zakje Gegevens</h1>
      <h3>Zakje {{bag.bag_NR}}</h3>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Details">
          <table class="table">
            <tbody>
              <tr>
                <td>Zakjes type:</td>
                <td>{{bag.bag_type}}</td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Controles">
          <div *ngFor="let controle of controles">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{controle.controleType}}
                </mat-panel-title>
                <mat-panel-description>
                  Bijzonderheid: {{controle.controle}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Beschrijving: {{controle.controleDesc}}</p>
              <p>Medewerker: {{controle.uitgevoerdDoor}}</p>
            </mat-expansion-panel>
          </div>
        </mat-tab>
        <mat-tab label="Foto's">
        </mat-tab>
      </mat-tab-group>
      <br>
      <button mat-raised-button color="primary" (click)="back()">Terug naar de roloverzicht</button>
      <button mat-raised-button color="primary" (click)="back()">Opdracht Markeren</button>
    </div>
  </div>
</section>
