/* You can add global styles to this file, and also import other style files */
.Center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 16px;
}

.list-group{
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
}

.form-group{
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
}

.buttonRow{
    text-align: center;
}

.btn{
    margin: 20px;
}