<section class="py-5 container">
  <div class="row py-lg-5 justify-content-center">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1>Opdracht gegevens</h1>
      <h2>Opdracht {{order.order_NR}}</h2>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Details">
          <table class="table">
            <tbody>
              <tr>
                <td>Instituut:</td>
                <td>{{order.institute}}</td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Aanwezige batches">
          <div *ngFor="let batch of batches; index as batch_NR" [routerLink]="['/batchDetails/', batch.batch_NR]"
            (click)="setBatch(batch)">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Batch {{batch.batch_NR}}
                </mat-panel-title>
                <mat-panel-description>
                  Aantal bijzondere controles
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </div>
        </mat-tab>
        <mat-tab label="Controles">
        <div *ngFor="let check of checks">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{check.check_type}}
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="table">
              <tbody>
                <tr>
                  <td>Beschrijving:</td>
                  <td>{{check.check_remarks}}</td>
                </tr>
                <tr>
                  <td>Medewerker:</td>
                  <td>{{check.checked_by}}</td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </div>
      </mat-tab>
      </mat-tab-group>
      <br>
      <button mat-raised-button color="primary" (click)="back()">Terug naar de opdrachtoverzicht</button>
    </div>
  </div>
</section>
