<section class="py-5 container">
  <div class="row py-lg-5 justify-content-center">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1>Batch gegevens</h1>

      <div *ngIf="batch">
        <h3>Batch {{batch.batch_NR}}</h3>
      </div>
      <br>
      <h3>Aanwezige rollen</h3>
      <mat-divider></mat-divider>
      <div *ngFor="let roll of rolls; index as roll_NR" [routerLink]="['/rollDetails/', roll.roll_NR]">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Rol {{roll.roll_NR}}
            </mat-panel-title>
            <mat-panel-description>
              Aantal bijzondere controles
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </div>
      <br>
      <button mat-raised-button color="primary" (click)="back()">Terug naar de Opdracht</button>
    </div>
  </div>
</section>
